<h2>Vehicles</h2>
<p>
    <a [routerLink]="['/vehicles']" class="btn btn-primary">New Vehicle</a>
</p>
<div class="card">
    <div class="form-group">
        <label for="make"></label>
        <select id="make" class="form-control" [(ngModel)]="query.makeId" (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let make of makes" value="{{make.id}}">{{make.name}}</option>
        </select>
    </div>
</div>
<button type="button" (click)="resetFilter()">Reset</button>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th (click)="sortBy('make')">
                Make
                <i></i>
            </th>
            <th  (click)="sortBy('model')">Model</th>
            <th  (click)="sortBy('contactName')">Contact Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.id}}</td>
            <td>{{vehicle.make.name}}</td>
            <td>{{vehicle.model.name}}</td>
            <td>{{vehicle.contact.name}}</td>
            <td>
                <a [routerLink]="['/vehicles/',vehicle.id]">View</a>
            </td>
        </tr>
    </tbody>
</table>