<h1>New Vehicle</h1>
<p>
  {{vehicle | json}}
</p>
<form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="makeId" name="makeId" required
      #make="ngModel">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="!make.valid && make.touched">Please specify the make.</div>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId" #model="ngModel" required>
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify the model.</div>
  </div>
  <p>Is this vehicle registered?</p>
  <div>
    <label for="registered" class="radio-inline">
      <input type="radio" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehicle.isRegistered">Yes
    </label>
    <label for="notRegistered" class="radio-inline">
      <input type="radio" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered">No
    </label>
  </div>
  <h2>Features</h2>
  <div *ngFor="let f of features" class="checkbox">
    <label for="feature{{f.id}}">
      <input type="checkbox" id="feature{{f.id}}" (change)="onFeaturesToggle(f.id,$event)" [checked]="vehicle.features.includes(f.id)" name="featureId">{{f.name}}
    </label>
  </div>
  <h2>Contact</h2>
  <div class="form-group">
    <div>
      <label for="contactName">Name</label>
      <input id="contactName" type="text" class="form-control" [(ngModel)]="vehicle.contact.name" name="contactName"
        #contactName="ngModel" required>
    </div>
    <div class="alert alert-danger" *ngIf="!contactName.valid && contactName.touched">
      Please specify the contactName.
    </div>
    <div>
      <label for="contactPhone">Phone</label>
      <input id="contactPhone" type="text" class="form-control" [(ngModel)]="vehicle.contact.phone" name="contactPhone"
        #contactPhone="ngModel" required>
    </div>
    <div class="alert alert-danger" *ngIf="!contactPhone.valid && contactPhone.touched">
      Please speify the contactPhone.
    </div>
    <div>
      <label for="contactEmail">Email</label>
      <input id="contactEmail" type="text" class="form-control" [(ngModel)]="vehicle.contact.email" name="contactEmail"
        #contactEmail="ngModel" required>
    </div>
    <div class="alert alert-danger" *ngIf="!contactEmail.valid && contactEmail.touched">
      Please specify the contactEmail.
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
  <button *ngIf="vehicle.id" class="btn btn-danger" type="button" (click)="delete()">Delete</button>
</form>